h3.mg{
    margin-left:55px;
    margin-right:28px
}

table, td, th{
    border: 1px rgb(231, 225, 225) solid;
    border-collapse: collapse;
}

.v-align{
    vertical-align: top;
    width: 20px;
}

.bg-or{
    background-color: rgb(196, 127, 0);
    color: white;
    font-size: 12px;
}

.bg-r{
    background-color: red;
    color: white;
}

.bg-g{
    background-color:rgb(58, 247, 184);
    color: white;
}

.bg-b{
    background-color:cornflowerblue;
    color:white;
}

th{
    height: 50px;
}

.vertical{
    -ms-writing-mode: tb-lr;
    writing-mode: vertical-rl;
    -webkit-writing-mode: vertical-rl;
}

td{
    height: 100px;
    width: 150px;
}

tr{
    text-align: center;
}

.square{
    border: 1px transparent solid;
    border-radius: 3px;
    padding: 0px 7px 0px 6px;
    margin-right: 5px;
}

button.blue{
    background-color:cornflowerblue;
    color:white;
}

div.flex{
    display:flex;
}

div.center{
    text-align: center;
}

div.mg{
    margin-top: 30px;
    margin-bottom: 50px;
}

input.height{
    padding: 0.5em 0.5em;
    line-height: 1;
    font-size: large;
}

button.size{
    margin-top: 10px;
    width: 80px;
    height: 45px;
}

label{
    color: white;/*文字色*/
    background-color: crimson;
    border: solid 3px crimson;/*線色*/
    padding: 0.5em;/*文字周りの余白*/
    border-radius: 0.5em;/*角丸*/
}